<% provide(:title, 'WEBSITE NAME') %>
<% provide(:description, 'Find max rank, level cap, points, prestiges, extra levels, and more for all your favorite games.') %>
<% provide(:header, 'WEBSITE NAME') %>
<% provide(:small_header, 'Website Subtitle') %>
<% provide(:game_image, '') %>

<div class="row">
  <div class="col-md-5 col-md-push-7" id="button-col">
    <button id="add-game-button" class="btn btn-success">
      Add Game
    </button>
    <button id="cancel-add-game-button" class="btn btn-danger hidden">
      Cancel Add Game
    </button>
    <button id="add-max-rank-button" class="btn btn-success">
      Add Max Rank
    </button>
    <button id="cancel-add-max-rank-button" class="btn btn-danger hidden">
      Cancel Add Max Rank
    </button>
  </div>
  <div class="col-md-7 col-md-pull-5">
    <div id="add-max-rank-box" class="hidden">
      <%= render partial: 'max_rank/form' %>
    </div>
    <div id="add-game-box" class="hidden">
      <%= render partial: 'games/form' %>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div role="alert" class="alert alert-success">
          <h2>Welcome to DOMAIN.TLD</h2>
          <p>
            DOMAIN.TLD is the best website for finding out what the level cap, top rank, or max points for your favorite game.
            If we're missing your favorite game, you can add it yourself with the green buttons on the page! When you visit
            our website, you are assigned a user name automatically. It is listed on the left navigation panel.  This user
            account will allow you to add games, new max ranks, and vote on existing max ranks.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Recently Added</div>
          <div class="list-group">
            <% @recently_added.each do |game| %>
              <a href="<%= game_path(game.id) %>" class="list-group-item"><%= game.name %></a>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="panel panel-default">
          <div class="panel-heading">Recent Activity</div>
          <div class="list-group">
            <% @recent_activity.each do |game| %>
              <a href="<%= game_path(game.id) %>" class="list-group-item"><%= game.name %></a>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
