<% @max_rank = MaxRank.new %>
<%= form_for(@max_rank, url: new_max_rank_path) do |f| %>
  <% if @game %>
    <%= f.hidden_field :game, value: @game %>
  <% else %>
    <%= f.select :game, Game.select_list, {}, { class: 'select2' } %>
  <% end %>
  <%= f.select :rank_type, RankType.select_list %>
  <%= f.label :value, 'Value:' %>
  <%= f.text_field :value %>
   <%= f.label :source, 'Source:' %>
  <%= f.text_field :source %>
  <div class="g-recaptcha" data-sitekey="6LejWAETAAAAAJiT5Y2l1h9NLIRmwLjMd2ThoJzt"></div>
  <%= f.submit 'Submit' %>
<% end %>