<% provide(:header, @game.name) %>
<% provide(:small_header, '') %>
<% provide(:game_image, @game.image) %>
<% provide(:theme, @game.theme.name) %>

<div class="row">

  <%= render partial: 'games/admin_menu' %>
  <div class="col-lg-5 col-lg-push-7 col-md-3 col-md-push-9" id="button-col">
    <button id="add-max-rank-button" class="btn btn-success">
      Add Max Rank
    </button>
    <button id="cancel-add-max-rank-button" class="btn btn-danger hidden">
      Cancel
    </button>
  </div>
  <div class="col-lg-7 col-lg-pull-5 col-md-9 col-md-pull-3">
    <div id="add-max-rank-box" class="hidden">
      <%= render partial: 'max_rank/form' %>
    </div>

    <% if @verified_max_ranks_array.count > 0 || @unverified_max_ranks_array.count > 0 %>
      <% @verified_max_ranks_array.each_with_index do |max_rank| %>
        <%= render partial: 'games/max_rank_panel', locals: {max_rank: max_rank} %>
      <% end %>

      <% threshold = nil %>

      <% @unverified_max_ranks_array.each_with_index do |max_rank, i| %>
        <% if max_rank[:upvotes] - max_rank[:downvotes] < 0 || i >= 10
             threshold = i
             break
           end %>
        <%= render partial: 'games/max_rank_panel', locals: {max_rank: max_rank} %>
      <% end %>

      <% if threshold %>
        <button id="threshold-button" class="btn btn-default">
          Show ranks below the threshold
        </button>
        <hr class="clear">
        <div id="threshold">
          <% @unverified_max_ranks_array[threshold, @unverified_max_ranks_array.count - threshold].each_with_index do |max_rank, i| %>
            <%= render partial: 'games/max_rank_panel', locals: {max_rank: max_rank} %>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <div role="alert" class="alert alert-warning">
        <h4>There are no max ranks!</h4>

        <p>
          Help us out by submitting a new max rank for this game. You can do that by clicking the green button and
          filling out the form.
        </p>
      </div>
    <% end %>
  </div>
  </div>
