<%= render partial: 'max_rank/form' %>

<% @max_ranks.each do |max_rank| %>
  <p>
  
    <div>
      Rank Type: <%= max_rank.rank_type.name %>
    </div>
    <div>
      Value: <%= max_rank.value %>
    </div>
    <div>
      Source: <%= max_rank.source %>
    </div>
    <div class="upvote" data-max-rank-id=" <%= max_rank.id %>">
      upvote
    </div>
    <div class="downvote" data-max-rank-id=" <%= max_rank.id %>">
      downvote
    </div>
  </p>
<% end %>

<script>
$(function() {
  $('.upvote').click(function() {
    var maxRankId = $(this).data('max-rank-id')
    $.ajax({
      type : 'POST',
      url : '/votes/new',
      data : {
        vote: {
          max_rank_id : maxRankId,
          vote: 1
        }
      }
    }).done(function(msg) {});
  });
   $('.downvote').click(function() {
    var maxRankId = $(this).data('max-rank-id')
    $.ajax({
      type : 'POST',
      url : '/votes/new',
      data : {
        vote: {
          max_rank_id : maxRankId,
          vote: -1
        }
      }
    }).done(function(msg) {});
  });
  
});
</script>

