<aside class="left-panel<%= ' collapsed' if cookies[:collapsed] == 'true' %>">

  <% color = current_user ? current_user.color : '#000' %>
  <div class="user text-center no-overflow">
    <div class="img circle-border">
      <div style="background: <%= color %>; border: 2px solid <%= color %>" class="circle-border no-overflow" id="user-color-icon">
        <%= image_tag 'user.png', style: 'width: 48px' %>
      </div>
    </div>
    <h4 class="user-name" data-user="<%= !!current_user %>"><%= current_user.username if current_user %></h4>
  </div>

  <nav class="navigation">
    <ul class="list-unstyled">
      <li>
        <a href="<%= root_path %>"><i class="fa fa-home"></i><span class="nav-label">Home</span></a>
      </li>
      <li>
        <a href="<%= games_index_path %>"><i class="fa fa-gamepad"></i><span class="nav-label">Games</span></a>
      </li>
      <% if defined?(Devise) %>
      <% if admin_user_signed_in? %>
      <li>
        <a href="<%= admin_dashboard_path %>"><i class="fa fa-gear"></i><span class="nav-label">Admin</span></a>
      </li>
      <% end %>
      <% end %>
    </ul>
  </nav>

</aside>